{
  "hooks": {
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
    "prepare-commit-msg": "exec < /dev/tty && sh ./bin/prepare-commit-message.sh && git cz --hook || true",
    "pre-commit": "yarn lint-staged"
  }
}
